 # Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/
yarn.lock

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
.metro/ # Metro bundler cache

# Native iOS
ios/build/
ios/Podfile.lock # Keep Podfile.lock for consistent iOS builds
*.xcworkspace
*.xcscheme
*.mode1v3
*.perspectivev3
DerivedData/

# Native Android
android/build/
android/app/build/
android/app/debug.keystore
android/app/release.keystore
*.apk
*.orig.* # Backup files
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug and Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store
*.pem

# Local Environment Files
.env*.local

# TypeScript
*.tsbuildinfo

# Temporary Files
tmp/
.tmp/

# VS Code
.vscode/

# Other
app-example